.dimLabel {
	color: var(--textColorDim);
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	display: inline;
}

.foldoutHeader {
	color: var(--textColor);
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
}
.hover{
    &:hover {
    background-color: var(--hoverColorBright);
  }
}

.coordinatedFollowerNotice {
    padding: 12rem;
    margin: 8rem;
    background-color: rgba(255, 165, 0, 0.15);
    border-left: 3rem solid var(--accentColorNormal);
    color: var(--textColorDim);
    font-size: var(--fontSizeS);
    line-height: 1.4;
}
