.labelWrapper {
    align-items: center;
    display: flex;
    flex: 1;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--textColor);
}

.dim {
    color: var(--textColorDim);
    filter: brightness(0.8);
}
.icon-bar-container {
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    margin-left: 4rem;
}
.icon-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 1.5em;
    width: 1.5em;
    margin-left: 0.35em;
    cursor: pointer;
    transition: all 0.2s ease;

    
    &:hover {
        transform: scale(1.1);
        filter: brightness(1.2) contrast(1.2);
        background: rgba(0, 0, 0, 0.1);
    }
    
    &:active {
        transform: scale(0.95);
    }
}
.icon-style {
    color: var(--textColorDim);
    width: 1.1em;
    height: 1.1em;
    font-size: 1.1em;
}
.active-dot {
    color: rgb(52, 191, 66);
    margin-left: 6rem;
}
.hover{
    &:hover {
        background-color: var(--hoverColorBright);
    }
}

